.App {
  text-align: center;
  background-color: papayawhip;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 100%;
  margin: auto;
  padding-bottom: 100%;
}

@media screen and (max-width: 850px) {
  .App {
    padding-bottom: 70%;
    text-wrap: wrap;
    justify-content: center;
    padding: 10;
  }
}

img {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  margin-top: 20px;
}

span {
  display: block;
  color: rgb(6, 176, 128);
  font-size: 30px;
  padding: 15px;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

#timer span {
  color: tomato;
  font-size: 30px;
}

